<div class="cuadroContainer">
  <!--Bloque de polizas-->
  <!--Añadir ngFor por cada año-->
  <div class="box-container">
    <div class="loader" *ngIf="!dataLoaded"></div>

    <div [class]="'periodo-fila periodos-' + fila.totalPeriodos" [ngClass]="{'fullYear': isFullYear}" *ngFor="let fila of periodos">
      <div class="year" >{{fila.periodos[0].subtitulo | transformDate: 'YYYYMM' : 'YYYY' }}</div>
      <div class="caja-mensual_container">
        <div class="caja-mensual_content" *ngFor="let periodo of fila.periodos">
          <span class="titulo" *ngIf="screenWidth < 663 || screenWidth > 940">{{ periodo.subtitulo | transformDate: 'YYYY-MM' : 'MMMM' }}</span>
          <span class="titulo" *ngIf="screenWidth >= 663 && screenWidth <= 940">{{ periodo.subtitulo | transformDate: 'YYYY-MM' : 'MMM' }}</span>
          <span class="subtitulo euro">{{periodo.precio}}</span>
          <div class="container-icons">
            <ng-template ngFor let-tipo let-i="index" [ngForOf]="periodo.iconos">
              <div class="container-icono" >
                <div [class]="'burbuja num- 2'">{{2}}</div>
                <i *ngIf="tipo" [class]="'icono icono-' + tipo"></i>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
