$alabaster: rgb(236, 245, 238);
$gallery: rgb(210, 224, 213);
$hunterGreen: rgb(124, 129, 125);
$hunterGreenDark: rgb(91, 97, 93);

@function px2rem($size) {
  @return #{$size / 16}rem;
}

.cuadroContainer {
  padding: 50px;
}

.box-container {
  background-color: $alabaster;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  border-radius: px2rem(5);
  width: 100%;
  padding: px2rem(2);
  padding-top: 0.625em;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.periodo-fila {
  padding: px2rem(5);
  margin-bottom: px2rem(10);

  @media (max-width: 663px) {
    padding: px2rem(20) px2rem(20) 0 px2rem(20);
  }

  @media (max-width: 325px) {
    padding: 0px;
  }

  &:nth-child(3) {
    @media (max-width: 663px) {
      margin-bottom: 0px;
    }
  }

  &:nth-child(4) {
    @media (max-width: 663px) {
      padding-top: 0px;
      padding-bottom: px2rem(20);

      .year {
        display: none;
      }
    }
  }

  // Adaptamos los estilos para cuando todas las cajas pertenecen al mismo año
  &.fullYear {

    &:nth-child(2) {
      margin-bottom: 0 !important;
    }

    &:nth-child(n+3) {
      @media (max-width: 450px) {
        padding: 0em 1.25em 0 1.25em;
      }

      .year {
        display: none;
      }
    }

  }

  // Ajusta el ancho de las cajas según el total de cuotas:
  &.periodos-1 {
    width: 15.8%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }
  
  &.periodos-2 {
    width: 31.6%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &.periodos-3 {
    width: 47,4%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &.periodos-4 {
    width: 63.2%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &.periodos-5 {
    width: 79%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &.periodos-6 {
    width: 95%;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  .year {
    font-size: 2.5em;
    color: $hunterGreenDark;
    text-align: center;
    border-radius: 0.1125em;
    background-color: $gallery;
    margin-bottom: 10px;

    @media (min-width: 663px) and (max-width: 1450px) {
      font-size: 2.1em;
    }
    
  }

  .caja-mensual {
  
    &_container {
      display: flex;
  
      @media (max-width: 663px) {
        flex-flow: column;
      }
    }

    &_content {
      width: 100%;
      height: 17em;
      background-color: $gallery;
      border-radius: px2rem(5);
    
      &:nth-child(n+2) {
        margin-left: px2rem(13);
        
        @media (max-width: 663px) {
          margin-left: px2rem(0);
        }
      }

      @media (min-width: 1068px) and (max-width: 1250px) {
        height: 15em;
      }
        
      @media (max-width: 990px) {
        height: 15.5rem;
      }
        
      @media (max-width: 663px) {
        margin-bottom: 6px;
      }
    
      .titulo {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: $hunterGreenDark;

        @media (max-width: 1410px) {
          font-size: 1.8em;
        }

        @media (max-width: 1300px) {
          font-size: 1.5em;
        }

        @media (min-width: 940px) and  (max-width: 1115px) {
          font-size: 1.2em;
        }

        @media (max-width: 663px) {
          font-size: 2em;
        }

      }
    
      .subtitulo {
        display: block;
        width: 100%;
        font-size: 1.6em;
        font-weight: 400;
        text-align: center;
        color: $hunterGreen;
        padding-bottom: 25px;

        @media (min-width: 663px) and (max-width: 990px) {
          font-size: 1.2rem;
        }
        
        &.euro{
          &:after{
            content: '€';
            font-size: px2rem(15); 
          }
        }
      }

      .container {
        &-icons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        &-icono {
          position: relative;
          text-align: center;

          .icono {
            margin: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 50%;
            border-width: 1.5px;
            display: flex;
            height: 3rem;
            width: 3rem;
            background-size: 100% 75%;
            background-position: center;
            
            &:nth-child(n+3) {
              flex: 1 0 30%;
            }
  
            @media (max-width: 1450px) {
              width: 2.8rem;
              height: 2.8rem;
            }
  
            @media (max-width: 1250px) {
              width: 2.4rem;
              height: 2.4rem;
            }
  
            @media (max-width: 990px) {
              width: 2.15rem;
              height: 2.15rem;
            }

            @media (max-width: 856px) {
              width: 1.8rem;
              height: 1.8rem;
            }
  
            @media (max-width: 663px) {
              height: 3rem;
              width: 3rem;
            }

            
            @media (max-width: 380px) {
              width: 2.4rem;
              height: 2.4rem;
            }

          }
  
          .burbuja {
            position: absolute;
            background: #087;
            border-radius: .4em;
            height: 1.25em;
            width: 1.4em;
            color: white;
            text-align: center;
            left: 1.9rem;
            top: -0.25rem;
            font-size: 13px;

            @media (min-width: 663px) and (max-width: 856px) {
              font-size: 11px;
              left: 1.5rem;
            }

          }
          
          .burbuja:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 0.625em solid transparent;
            border-top-color: #087;
            border-bottom: 0;
            border-left: 0;
            margin-left: -0.312em;
            margin-bottom: -0.625em;
          }
        }
      }
    }
  }
}

.icono-1{
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48.625px" height="48.625px" viewBox="0 0 48.625 48.625" style="enable-background:new 0 0 48.625 48.625;" xml:space="preserve"> <g> <polygon points="35.432,10.815 35.479,11.176 34.938,11.288 34.866,12.057 35.514,12.057 36.376,11.974 36.821,11.445 36.348,11.261 36.089,10.963 35.7,10.333 35.514,9.442 34.783,9.591 34.578,9.905 34.578,10.259 34.93,10.5 "/> <polygon points="34.809,11.111 34.848,10.629 34.419,10.444 33.819,10.583 33.374,11.297 33.374,11.76 33.893,11.76"/> <path d="M22.459, 13.158l-0.132,0.34h-0.639v0.33h0.152c0,0,0.009,0.07,0.022,0.162l0.392-0.033l0.245-0.152l0.064-0.307 l0.317-0.027l0.125-0.258l-0.291-0.06L22.459,13.158z"/> <polygon points="20.812,13.757 20.787,14.08 21.25,14.041 21.298,13.717 21.02,13.498 "/> <path d="M48.619,24.061c-0.007-0.711-0.043-1.417-0.11-2.112c-0.225-2.317-0.779-4.538-1.609-6.62 c-0.062-0.155-0.119-0.312-0.185-0.465c-1.106-2.613-2.659-4.992-4.56-7.045c-0.125-0.134-0.252-0.266-0.379-0.396 c-0.359-0.373-0.728-0.737-1.11-1.086C36.344,2.402,30.604,0,24.312,0C17.967,0,12.186,2.445,7.852,6.44 C6.842,7.371,5.914,8.387,5.072,9.475C1.896,13.583,0,18.729,0,24.312c0,13.407,10.907,24.313,24.313,24.313 c9.43,0,17.617-5.4,21.647-13.268c0.862-1.682,1.533-3.475,1.985-5.354c0.115-0.477,0.214-0.956,0.3-1.441 c0.245-1.381,0.379-2.801,0.379-4.25C48.625,24.228,48.62,24.145,48.619,24.061z M44.043,14.344l0.141-0.158 c0.185,0.359,0.358,0.724,0.523,1.094l-0.23-0.009l-0.434,0.06V14.344z M40.53,10.102l0.004-1.086 c0.382,0.405,0.75,0.822,1.102,1.254l-0.438,0.652l-1.531-0.014l-0.096-0.319L40.53,10.102z M11.202,7.403V7.362h0.487 l0.042-0.167h0.797v0.348l-0.229,0.306h-1.098L11.202,7.403L11.202,7.403z M11.98,8.488c0,0,0.487-0.083,0.529-0.083 s0,0.486,0,0.486L11.411,8.96l-0.209-0.25L11.98,8.488z M45.592,18.139h-1.779l-1.084-0.807l-1.141,0.111v0.696h-0.361 l-0.39-0.278l-1.976-0.501v-1.28l-2.504,0.195l-0.776,0.417h-0.994L34.1,16.643l-1.207,0.67v1.261l-2.467,1.78l0.205,0.76h0.5 L31,21.838l-0.352,0.129l-0.019,1.892l2.132,2.428h0.928l0.056-0.148h1.668l0.481-0.445h0.946l0.519,0.52l1.41,0.146l-0.187,1.875 l1.565,2.763l-0.824,1.575l0.056,0.742l0.649,0.647v1.784l0.852,1.146v1.482h0.736c-4.096,5.029-10.33,8.25-17.305,8.25 C12.009,46.625,2,36.615,2,24.312c0-3.097,0.636-6.049,1.781-8.732v-0.696l0.798-0.969c0.277-0.523,0.574-1.033,0.891-1.53 l0.036,0.405l-0.926,1.125c-0.287,0.542-0.555,1.096-0.798,1.665v1.27l0.927,0.446v1.765l0.889,1.517l0.723,0.111l0.093-0.52 l-0.853-1.316l-0.167-1.279h0.5l0.211,1.316l1.233,1.799L7.02,21.27l0.784,1.199l1.947,0.482v-0.315l0.779,0.111l-0.074,0.556 l0.612,0.112l0.945,0.258l1.335,1.521l1.705,0.129l0.167,1.391l-1.167,0.816l-0.055,1.242l-0.167,0.76l1.688,2.113l0.129,0.724 c0,0,0.612,0.166,0.687,0.166c0.074,0,1.372,0.983,1.372,0.983v3.819l0.463,0.13l-0.315,1.762l0.779,1.039l-0.144,1.746 l1.029,1.809l1.321,1.154l1.328,0.024l0.13-0.427l-0.976-0.822l0.056-0.408l0.175-0.5l0.037-0.51l-0.66-0.02l-0.333-0.418 l0.548-0.527l0.074-0.398l-0.612-0.175l0.036-0.37l0.872-0.132l1.326-0.637l0.445-0.816l1.391-1.78l-0.316-1.392l0.427-0.741 l1.279,0.039l0.861-0.682l0.278-2.686l0.955-1.213l0.167-0.779l-0.871-0.279l-0.575-0.943l-1.965-0.02l-1.558-0.594l-0.074-1.111 l-0.52-0.909l-1.409-0.021l-0.814-1.278l-0.723-0.353l-0.037,0.39l-1.316,0.078l-0.482-0.671l-1.373-0.279l-1.131,1.307 l-1.78-0.302l-0.129-2.006l-1.299-0.222l0.521-0.984l-0.149-0.565l-1.707,1.141l-1.074-0.131L9.48,21.016l0.234-0.865l0.592-1.091 l1.363-0.69l2.632-0.001l-0.007,0.803l0.946,0.44l-0.075-1.372l0.682-0.686l1.376-0.904l0.094-0.636l1.372-1.428l1.459-0.808 l-0.129-0.106l0.988-0.93l0.362,0.096l0.166,0.208l0.375-0.416l0.092-0.041l-0.411-0.058l-0.417-0.139v-0.4l0.221-0.181h0.487 l0.223,0.098l0.193,0.39l0.236-0.036v-0.034l0.068,0.023l0.684-0.105l0.097-0.334l0.39,0.098v0.362l-0.362,0.249h0.001 l0.053,0.397l1.239,0.382c0,0,0.001,0.005,0.003,0.015l0.285-0.024l0.019-0.537l-0.982-0.447l-0.056-0.258l0.815-0.278l0.036-0.78 l-0.852-0.519l-0.056-1.315l-1.168,0.574h-0.426l0.112-1.001l-1.59-0.375l-0.658,0.497v1.516l-1.183,0.375l-0.474,0.988 l-0.514,0.083v-1.264l-1.112-0.154l-0.556-0.362l-0.224-0.819l1.989-1.164l0.973-0.296l0.098,0.654l0.542-0.028l0.042-0.329 l0.567-0.081l0.01-0.115l-0.244-0.101l-0.056-0.348l0.697-0.059l0.421-0.438l0.023-0.032l0.005,0.002l0.128-0.132l1.465-0.185 l0.648,0.55l-1.699,0.905l2.162,0.51l0.28-0.723h0.945l0.334-0.63l-0.668-0.167V6.212L22.69,5.284l-1.446,0.167l-0.816,0.427 l0.056,1.038l-0.853-0.13L19.5,6.212l0.817-0.742l-1.483-0.074l-0.426,0.129l-0.185,0.5l0.556,0.094l-0.111,0.556l-0.945,0.056 l-0.148,0.37l-1.371,0.038c0,0-0.038-0.778-0.093-0.778c-0.055,0,1.075-0.019,1.075-0.019l0.817-0.798l-0.446-0.223l-0.593,0.576 l-0.984-0.056l-0.593-0.816h-1.261L12.81,6.008h1.206l0.11,0.353l-0.313,0.291l1.335,0.037l0.204,0.482l-1.503-0.056l-0.073-0.371 L12.831,6.54L12.33,6.262l-1.125,0.009C14.888,3.588,19.417,2,24.312,2c5.642,0,10.797,2.109,14.73,5.574l-0.265,0.474 l-1.029,0.403l-0.434,0.471l0.1,0.549l0.531,0.074l0.32,0.8l0.916-0.369l0.151,1.07h-0.276l-0.752-0.111l-0.834,0.14l-0.807,1.14 l-1.154,0.181l-0.167,0.988l0.487,0.115l-0.141,0.635l-1.146-0.23l-1.051,0.23l-0.223,0.585l0.182,1.228l0.617,0.289l1.035-0.006 l0.699-0.063l0.213-0.556l1.092-1.419l0.719,0.147l0.708-0.64l0.132,0.5l1.742,1.175l-0.213,0.286l-0.785-0.042l0.302,0.428 l0.483,0.106l0.566-0.236l-0.012-0.682l0.251-0.126l-0.202-0.214l-1.162-0.648l-0.306-0.861h0.966l0.309,0.306l0.832,0.717 l0.035,0.867l0.862,0.918l0.321-1.258l0.597-0.326l0.112,1.029l0.583,0.64l1.163-0.02c0.225,0.579,0.427,1.168,0.604,1.769 L45.592,18.139z M13.261,11.046l0.584-0.278l0.528,0.126l-0.182,0.709l-0.57,0.181L13.261,11.046z M16.36,12.715v0.459h-1.334 l-0.5-0.139l0.125-0.32l0.641-0.265h0.876v0.265H16.36z M16.974,13.355V13.8l-0.334,0.215l-0.416,0.077c0,0,0-0.667,0-0.737 H16.974z M16.598,13.174v-0.529l0.459,0.418L16.598,13.174z M16.807,14.244v0.433l-0.319,0.32h-0.709l0.111-0.486l0.335-0.029 l0.069-0.167L16.807,14.244z M15.041,13.355h0.737l-0.945,1.321l-0.39-0.209l0.084-0.556L15.041,13.355z M18.059,14.092v0.432 H17.35l-0.194-0.28v-0.402h0.056L18.059,14.092z M17.404,13.498l0.202-0.212l0.341,0.212l-0.273,0.225L17.404,13.498z M45.954,19.265l0.07-0.082c0.029,0.126,0.06,0.252,0.088,0.38L45.954,19.265z"/> <path d="M3.782,14.884v0.696c0.243-0.568,0.511-1.122,0.798-1.665L3.782,14.884z"/> </g></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
}

.icono-2{
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 45 45" style="enable-background:new 0 0 45 45;" xml:space="preserve"> <g> <path d="M23.441,11.877l-4.71-8.16C18.58,3.454,18.3,3.306,17.985,3.312C9.688,3.746,0,5.609,0,9.43v26.024 c0,4.095,11.318,6.233,22.5,6.233c11.18,0,22.5-2.141,22.5-6.233V18.104C45,14.147,34.232,11.994,23.441,11.877z M1.626,9.43 c0-1.5,5.539-3.857,15.947-4.466l5.237,9.072c-0.104,0-0.206,0.003-0.311,0.003C9.757,14.039,1.626,11.31,1.626,9.43z M6.945,39.191c0,0.042-0.019,0.08-0.052,0.104c-0.024,0.02-0.053,0.029-0.083,0.029c-0.012,0-0.023-0.002-0.035-0.005 c-1.303-0.344-2.416-0.722-3.307-1.12c-0.048-0.021-0.08-0.07-0.08-0.126v-4.696c0-0.016,0.001-0.026,0.005-0.038 c0.004-0.014,0.342-1.137,1.774-1.137c1.431,0,1.77,1.123,1.773,1.139c0.003,0.01,0.005,0.021,0.005,0.036V39.191z M6.945,30.515 c0,0.043-0.019,0.081-0.052,0.106c-0.024,0.02-0.054,0.027-0.083,0.027c-0.012,0-0.023-0.002-0.035-0.004 c-1.303-0.342-2.416-0.719-3.307-1.119c-0.048-0.022-0.08-0.072-0.08-0.125v-4.699c0-0.013,0.001-0.022,0.005-0.038 c0.004-0.011,0.342-1.136,1.774-1.136c1.431,0,1.77,1.125,1.773,1.139c0.003,0.013,0.005,0.022,0.005,0.035V30.515z M6.945,21.841 c0,0.042-0.019,0.082-0.052,0.107c-0.024,0.019-0.053,0.028-0.083,0.028c-0.012,0-0.023-0.001-0.035-0.004 c-1.303-0.342-2.416-0.719-3.307-1.121c-0.048-0.021-0.08-0.069-0.08-0.124v-4.7c0-0.013,0.001-0.026,0.005-0.037 c0.004-0.012,0.342-1.136,1.774-1.136c1.431,0,1.77,1.125,1.773,1.136c0.003,0.011,0.005,0.024,0.005,0.037V21.841z M12.723,40.271c0,0.041-0.018,0.077-0.046,0.104c-0.024,0.021-0.057,0.033-0.089,0.033c-0.005,0-0.012,0-0.018,0 c-1.136-0.148-2.244-0.324-3.293-0.524c-0.064-0.015-0.11-0.068-0.11-0.134v-5.289c0-0.013,0.001-0.024,0.005-0.038 c0.004-0.011,0.34-1.137,1.772-1.137c1.432,0,1.771,1.126,1.773,1.139c0.003,0.012,0.005,0.023,0.005,0.036L12.723,40.271 L12.723,40.271z M12.723,31.599c0,0.04-0.018,0.076-0.046,0.102c-0.024,0.023-0.057,0.033-0.089,0.033c-0.005,0-0.012,0-0.018,0 c-1.136-0.146-2.244-0.322-3.293-0.523c-0.064-0.013-0.11-0.066-0.11-0.134v-5.288c0-0.016,0.001-0.025,0.005-0.037 c0.004-0.011,0.34-1.137,1.772-1.137c1.432,0,1.771,1.126,1.773,1.139c0.003,0.01,0.005,0.021,0.005,0.035L12.723,31.599 L12.723,31.599z M12.723,22.923c0,0.04-0.018,0.077-0.046,0.102c-0.024,0.022-0.057,0.033-0.089,0.033 c-0.005,0-0.012,0-0.018-0.001c-1.137-0.146-2.245-0.322-3.293-0.525c-0.064-0.012-0.11-0.068-0.11-0.133v-5.288 c0-0.013,0.001-0.024,0.005-0.037c0.004-0.011,0.34-1.135,1.772-1.135c1.432,0,1.771,1.125,1.773,1.136 c0.003,0.012,0.005,0.024,0.005,0.037L12.723,22.923L12.723,22.923z M18.501,40.775c0,0.037-0.016,0.074-0.042,0.101 c-0.025,0.021-0.059,0.035-0.093,0.035c-0.002,0-0.004,0-0.006,0c-1.063-0.051-2.14-0.127-3.292-0.231 c-0.07-0.008-0.124-0.063-0.124-0.134v-4.998c0-0.014,0.001-0.026,0.005-0.038c0.004-0.01,0.341-1.136,1.771-1.136 c1.434,0,1.773,1.126,1.776,1.138c0.003,0.01,0.005,0.022,0.005,0.036V40.775L18.501,40.775z M18.501,32.099 c0,0.039-0.016,0.075-0.042,0.103c-0.025,0.021-0.059,0.035-0.093,0.035c-0.002,0-0.004,0-0.006,0 c-1.063-0.053-2.14-0.127-3.292-0.232c-0.07-0.007-0.124-0.063-0.124-0.134v-5c0-0.013,0.001-0.023,0.005-0.035 c0.004-0.015,0.341-1.137,1.771-1.137c1.434,0,1.773,1.122,1.776,1.139c0.003,0.01,0.005,0.021,0.005,0.033V32.099L18.501,32.099z M18.501,23.425c0,0.038-0.016,0.072-0.042,0.098c-0.025,0.025-0.059,0.038-0.093,0.038c-0.002,0-0.004,0-0.006,0 c-1.083-0.052-2.159-0.128-3.292-0.23c-0.07-0.007-0.124-0.064-0.124-0.136v-4.999c0-0.012,0.001-0.025,0.005-0.037 c0.004-0.011,0.341-1.135,1.771-1.135c1.434,0,1.773,1.125,1.776,1.136c0.003,0.012,0.005,0.025,0.005,0.037V23.425L18.501,23.425 z M24.277,40.855c0,0.073-0.06,0.133-0.134,0.137c-0.545,0.011-1.09,0.021-1.646,0.021c-0.556,0-1.101-0.011-1.646-0.021 c-0.073-0.004-0.133-0.062-0.133-0.137v-5.31c0-0.014,0.001-0.026,0.005-0.038c0.003-0.011,0.342-1.137,1.773-1.137 c1.434,0,1.771,1.126,1.775,1.139c0.002,0.01,0.004,0.022,0.004,0.036L24.277,40.855L24.277,40.855z M24.277,32.18 c0,0.075-0.06,0.134-0.134,0.136c-0.545,0.014-1.09,0.022-1.646,0.022c-0.556,0-1.101-0.011-1.646-0.022 c-0.073-0.002-0.133-0.061-0.133-0.136V26.87c0-0.013,0.001-0.023,0.005-0.035c0.003-0.015,0.342-1.137,1.773-1.137 c1.434,0,1.771,1.122,1.775,1.139c0.002,0.01,0.004,0.021,0.004,0.033L24.277,32.18L24.277,32.18z M24.277,23.506 c0,0.073-0.06,0.134-0.134,0.136c-0.545,0.01-1.09,0.021-1.646,0.021c-0.556,0-1.101-0.011-1.646-0.021 c-0.073-0.002-0.133-0.062-0.133-0.136v-5.312c0-0.012,0.001-0.025,0.005-0.037c0.003-0.011,0.342-1.135,1.773-1.135 c1.434,0,1.771,1.125,1.775,1.135c0.002,0.012,0.004,0.026,0.004,0.038L24.277,23.506L24.277,23.506z M30.055,40.544 c0,0.067-0.053,0.126-0.123,0.134c-1.159,0.104-2.235,0.183-3.291,0.231c-0.002,0-0.004,0-0.007,0 c-0.036,0-0.066-0.016-0.093-0.038c-0.027-0.025-0.042-0.062-0.042-0.098v-5.229c0-0.014,0.002-0.026,0.004-0.038 c0.004-0.011,0.341-1.137,1.772-1.137c1.431,0,1.771,1.126,1.773,1.139c0.002,0.01,0.005,0.022,0.005,0.036L30.055,40.544 L30.055,40.544z M30.055,31.87c0,0.069-0.053,0.127-0.123,0.134c-1.159,0.105-2.235,0.182-3.291,0.232c-0.002,0-0.004,0-0.007,0 c-0.036,0-0.066-0.016-0.093-0.037c-0.027-0.025-0.042-0.062-0.042-0.101V26.87c0-0.013,0.002-0.023,0.004-0.035 c0.004-0.015,0.341-1.137,1.772-1.137c1.431,0,1.771,1.122,1.773,1.139c0.002,0.01,0.005,0.021,0.005,0.033L30.055,31.87 L30.055,31.87z M35.833,39.75c0,0.063-0.047,0.12-0.108,0.135c-1.047,0.2-2.155,0.376-3.295,0.521 c-0.005,0.004-0.011,0.004-0.018,0.004c-0.032,0-0.064-0.015-0.089-0.034c-0.03-0.025-0.05-0.063-0.05-0.104V34.46 c0-0.013,0.002-0.024,0.009-0.038c0.003-0.011,0.34-1.137,1.771-1.137c1.433,0,1.771,1.126,1.771,1.139 c0.004,0.012,0.006,0.023,0.006,0.036L35.833,39.75L35.833,39.75z M35.833,31.076c0,0.063-0.047,0.12-0.108,0.134 c-1.047,0.201-2.155,0.378-3.295,0.521c-0.005,0.002-0.011,0.002-0.018,0.002c-0.032,0-0.064-0.012-0.089-0.033 c-0.03-0.023-0.05-0.062-0.05-0.102v-5.812c0-0.016,0.002-0.025,0.009-0.038c0.003-0.011,0.34-1.137,1.771-1.137 c1.433,0,1.771,1.126,1.771,1.14c0.004,0.01,0.006,0.021,0.006,0.035L35.833,31.076L35.833,31.076z M41.611,38.076 c0,0.056-0.032,0.104-0.08,0.126c-0.894,0.398-2.006,0.776-3.308,1.121c-0.011,0.002-0.022,0.004-0.032,0.004 c-0.031,0-0.061-0.012-0.084-0.029c-0.034-0.024-0.054-0.063-0.054-0.104V33.38c0-0.015,0.002-0.026,0.004-0.038 c0.004-0.014,0.343-1.136,1.771-1.136c1.437,0,1.771,1.122,1.776,1.138c0.004,0.01,0.006,0.021,0.006,0.036V38.076z M41.611,29.402c0,0.053-0.032,0.103-0.08,0.125c-0.894,0.4-2.006,0.777-3.308,1.119c-0.011,0.002-0.022,0.004-0.032,0.004 c-0.031,0-0.061-0.01-0.084-0.027c-0.034-0.025-0.054-0.063-0.054-0.106v-5.813c0-0.013,0.002-0.022,0.004-0.038 c0.004-0.011,0.343-1.136,1.771-1.136c1.437,0,1.771,1.125,1.776,1.139c0.004,0.013,0.006,0.022,0.006,0.035V29.402z M29.529,22.419l-4.615-7.99l-0.523-0.912c11.802,0.251,18.983,2.782,18.983,4.588C43.374,19.417,39.072,21.597,29.529,22.419z"/> </g> </svg>'); 
  background-repeat: no-repeat;
  background-size: 100%;
}

.icono-3{
  background-image: url('data:image/svg+xml;utf8,<svg height="512" viewBox="0 0 61 61" width="512" xmlns="http://www.w3.org/2000/svg"><g id="017---Statue-of-Liberty" transform="translate(0 -1)"><path id="Shape" d="m59.16 22.86-4.51-.69 5.47-4.31c.8605187-.6559058 1.1029772-1.8473037.5672482-2.7873565s-1.6843377-1.338692-2.6872482-.9326435l-5.69 2.16c3.86-10 3.74-9.48 3.74-10 .0157091-.92407453-.5555931-1.75669919-1.4234315-2.07453092s-1.8417554-.0511185-2.4265685.66453092l-7 8.74c-.46-.12-.92-.23-1.4-.31l-1.6-10.49c-.1621984-1.05928643-1.0733676-1.8415567-2.145-1.8415567s-1.9828016.78227027-2.145 1.8415567l-1.61 10.49c-.48.08-.94.19-1.4.31l-7-8.73c-.5759586-.71512569-1.539674-.99033282-2.4064163-.68719758-.8667422.30313523-1.4488697 1.11898691-1.4535837 2.03719758 0 .55-.15 0 3.77 10.1l-5.81-2.2c-.9995607-.3872485-2.1319001.0171584-2.66.95-.09.15.11 1.28-1.27-7.8-.1021299-1.09691574-.1255231-2.19974011-.07-3.3 0-1.65685425-1.3431458-3-3-3h-9.53c-.90568602.00093703-1.76247367.41098233-2.33132413 1.11573562-.56885045.7047533-.78887052 1.62877353-.59867587 2.51426438 3.09 14.45 2.24 9.48 3.34 19.37l-4.56 9.13c-.43.87-.32.59-.32 10.26 0 1.18.5 1.66 2 4l.84 10.89c.12043993 1.5664209 1.42896247 2.7746234 3 2.77h47.53c.767048-.0003302 1.4663342-.4393266 1.8-1.13l4.39-9c.4169129-.8577348.3095088-1.8779469-.2768826-2.6300576s-1.5496047-1.1050818-2.4831174-.9099424l-1.8.32-.75-1.5 2-2c.5863768-.5719823.7646847-1.4437097.45-2.2l-3.61-9.39c.5854646-.4644368.8631614-1.2165321.72-1.95l-.55-2.8 4.91-.75c1.0450431-.1755981 1.8104169-1.0803067 1.8104169-2.14s-.7653738-1.9644019-1.8104169-2.14zm-12 5.35c1.7094274.1331637 3.4278519.0963164 5.13-.11l.59 3c-2.53.07-5-.5-5.75-2.89zm-17.16 12.13 1.13-2.26c.2547339.6554016.5451687 1.2963613.87 1.92l-.19 2.41zm4.88-24.63c3.4151795-.9498954 7.0248205-.9498954 10.44 0 4.07 1.29 6.33 4.4 6.68 8.69-5.86-5.16-18.11-5.08-23.91 0 .0724152-2.0665792.8088015-4.0548221 2.1-5.67l.1-.11c1.1849872-1.4059364 2.7676753-2.4203907 4.54-2.91zm11.28 23.82c-1.1581757 2.4203612-3.4525908 4.0989267-6.11 4.47-5.3-.6-7.54-6.34-8.46-11.6 1.8927046-.7755921 3.2272075-2.5028202 3.5-4.53 2.0209072-.3389556 3.821753-1.4734885 5-3.15 1.178247 1.6765115 2.9790928 2.8110444 5 3.15.2708134 2.0280062 1.6059963 3.7561143 3.5 4.53-.3736393 2.5037019-1.1968805 4.9192205-2.43 7.13zm-17.06-13.33c2.56-2.45 6.19-3.4 9.73-3.57-1.14 3.53-6.04 3.86-9.73 3.57zm-1.85 4.88.58-3c1.7054917.2063878 3.4272401.2432346 5.14.11-.76 2.41-3.21 2.97-5.72 2.89zm14-8.46c3.48.18 7.22 1.15 9.75 3.58-3.65.28-8.58-.04-9.73-3.58zm-15.21 3.3-4.25-.65-.17-.51 4.49-.69c-.0527303.6151639-.0694255 1.2328859-.05 1.85zm-.23 2-.54 2.78c-.1362178.7008593.1115123 1.4211823.65 1.89l-.83 2.16c-.33-.4-.17-.07-2.59-7.34zm2.06 5.17c.5930957-.0104083 1.1846521-.0638823 1.77-.16.16.87.34 1.7.55 2.49-.16.23.2-.47-1.68 3.29l-1.94-2.24zm6.13 11.91-.39-.45.15-1.87c1.5613058 1.8856245 3.8038035 3.0787483 6.24 3.32h.2c2.4066481-.2512782 4.6202856-1.4316457 6.17-3.29l.5 6.89-.66.14c-.6564362.1357453-1.3394242.0477314-1.94-.25-10.04-4.99-8.63-4.49-10.27-4.49zm24.73-29c.09 0 .17 0 .22.15s.3-.16-5.7 4.57c-.2764195-.784157-.638616-1.5353795-1.08-2.24zm-5-9.87c.09-.11.31-.07.28.17l-3.83 9.86c-.8992804-.7667686-1.9110994-1.3907236-3-1.85zm-13.87-3c.0188081-.07582665.0868756-.12907324.165-.12907324s.1461919.05324659.165.12907324l1.52 9.92c-1.1252464-.0800028-2.2547536-.0800028-3.38 0zm-13.75 3c.18-.1-.37-.68 6.75 8.21-1.0912174.4547691-2.1037068 1.0791376-3 1.85-4.17-10.88-3.86-9.98-3.72-10.08zm1.77 12.41c-.4374557.7173236-.7993892 1.4780542-1.08 2.27-6.29-4.95-5.79-4.48-5.76-4.7s-.34-.31 6.87 2.41zm-2.57 3.65-4.31.65c-1.28-3.83-.94-2.5-1.35-5.21.24.26-.43-.28 5.69 4.54zm-20.81-17.98c-.06316303-.29402607.00935232-.60086627.19745571-.83551071.1881034-.23464444.47181926-.37217513.77254429-.37448929h9.53c.5522847 0 1 .44771525 1 1 0 4.1-.3 1.15 1.95 15.72l-7.72 9.82c-.25514317.3215292-.68085562.4544935-1.07364064.335334-.39278501-.1191595-.67286567-.4662408-.70635936-.875334-1.83-16.54-.82-10.13-3.95-24.79zm17.75 54.79 6.63-12.53c.2152795-.479574.0224977-1.0439523-.4411892-1.2916033-.4636868-.2476509-1.0399538-.0940145-1.3188108.3516033l-7.12 13.47h-7l11.77-14.36c.22865-.2750945.2931701-.6512756.1692563-.9868396-.1239139-.3355639-.4174362-.5795305-.77-.64-.3525639-.0604694-.7106063.0717451-.9392563.3468396l-12.88 15.64h-3.5c-.55228475 0-1-.4477153-1-1l11-16.48c.2380487-.2955284.2883109-.7003343.1297641-1.0451054-.1585468-.3447712-.4985809-.570095-.8778815-.5817287-.3793005-.0116337-.7325045.1924276-.9118826.5268341l-9.59 14.38c-.66-8.63-.58-7.95-.69-8.2l11.77-10.87c.2902307-.2353431.4250424-.6128613.3495329-.9788102-.0755094-.3659489-.3487417-.6592718-.7084228-.7605128-.3596812-.101241-.7458002.0064913-1.0011101.279323l-11.52 10.63c-.65-1-.8-1.11-.8-1.51 0-9.71 0-9.07.11-9.39l3.18-6.36.18 1.59c.13550819 1.2100479.98896217 2.2181707 2.16005549 2.5515156s2.42751301-.0742146 3.17994451-1.0315156l6.83-8.69c4.63 13.89 4.28 13.2 5 14l12.6 14.59c.2322226.2715218.5916604.3985291.9429165.3331793s.6409665-.3131284.76-.65.0493061-.7116575-.1829165-.9831793l-1.3-1.5 6.87 3.43c1.8.9 3.23.42 4.73.11l7 6.22-.69 1.39zm36-9.73c.186934-.0386227.3795479.0325571.4964438.183459.1168959.150902.137675.3551932.0535562.526541l-2.8 5.76-5.5-4.86zm-9.42-.08-.7-9.19c.3222089-.5907381.6126229-1.1982708.87-1.82l5 9.94zm5.48-4.88c-3.69-7.39-4.27-8.55-4.41-8.8.22-.82.41-1.68.58-2.59.5519946.0927655 1.1103097.1429135 1.67.15l3.72 9.68zm-.26-18.41c.020391-.603788.0036929-1.2082585-.05-1.81 5.24.81 5 .71 5 .91s.23.11-4.95.9z"/><path id="Shape" d="m37 31h-2c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h2c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"/><path id="Shape" d="m45 31h-2c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h2c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"/><path id="Shape" d="m41 39h-2c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h2c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"/><path id="Shape" d="m39.39 37.79c.59.46 1.89.24 1.89-.79 0-.5522847-.4477153-1-1-1l.72-2.76c.1325483-.5522847-.2077153-1.1074517-.76-1.24s-1.1074517.2077153-1.24.76l-.69 2.76c-.2199369.9166305.2300323 1.862399 1.08 2.27z"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
}

.icono-4{
  background-image: url('data:image/svg+xml;utf8,<svg id="outline_explan" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m413.657 330.343c-3.125-3.124-8.189-3.124-11.314 0l-12.283 12.284c-9.066 9.066-14.06 21.12-14.06 33.941v31.432c0 4.418 3.582 8 8 8h48c4.418 0 8-3.582 8-8v-31.432c0-12.822-4.993-24.875-14.059-33.941zm10.343 69.657h-32v-23.432c0-8.548 3.328-16.583 9.373-22.627l6.627-6.627 6.628 6.628c6.044 6.043 9.372 14.079 9.372 22.627z"/><path d="m384 280h48c4.418 0 8-3.582 8-8v-31.432c0-12.822-4.993-24.875-14.059-33.941l-12.284-12.284c-3.125-3.124-8.189-3.124-11.314 0l-12.283 12.284c-9.066 9.066-14.06 21.12-14.06 33.941v31.432c0 4.418 3.582 8 8 8zm8-39.432c0-8.548 3.328-16.583 9.373-22.627l6.627-6.627 6.628 6.628c6.044 6.043 9.372 14.079 9.372 22.627v23.431h-32z"/><path d="m496 153v19.184l-28.863-11.545c-.79-.337-1.646-.551-2.542-.617-.006 0-.012-.001-.018-.001-.067-.005-.134-.009-.201-.012-.027-.001-.054-.002-.081-.003-.049-.002-.097-.003-.146-.004-.029 0-.057-.001-.086-.001-.021 0-.042-.001-.064-.001v-7.889c0-22.788-11.319-43.938-30.28-56.579l-17.719-11.813v-19.719h-16v19.719l-17.72 11.813c-18.961 12.64-30.28 33.791-30.28 56.579v4.575l-8-8v-20.686c4.418 0 8-3.582 8-8v-23.804c0-9.784-2.482-19.203-6.962-27.505-.086-.19-.18-.379-.282-.563-5.821-10.522-14.552-18.81-25.314-24.054 0 0-.001-.001-.002-.001-.152-.074-.305-.148-.458-.221-.055-.026-.111-.052-.167-.079-.103-.049-.207-.098-.311-.146-.167-.078-.335-.155-.503-.232l-54.001-24.546v-18.849h-16v18.849l-54.001 24.546c-.168.076-.336.154-.503.232-.104.048-.208.098-.311.146-.056.026-.111.052-.167.079-.153.073-.306.147-.458.221 0 0-.001.001-.002.001-10.763 5.244-19.494 13.532-25.314 24.054-.102.185-.196.373-.282.563-4.48 8.302-6.962 17.721-6.962 27.505v23.804c0 4.418 3.582 8 8 8v20.686l-8 8v-4.575c0-22.788-11.319-43.938-30.28-56.579l-17.72-11.813v-19.719h-16v19.719l-17.72 11.813c-18.961 12.64-30.28 33.791-30.28 56.579v7.889c-.011 0-.023 0-.034 0-.047 0-.094.001-.141.002-.028.001-.056.001-.083.002-.044.001-.088.003-.132.005-.042.002-.083.005-.124.007-.03.002-.06.003-.09.006-.076.006-.152.013-.228.02-.002 0-.004 0-.006.001-.078.008-.156.018-.234.028-.002 0-.005.001-.007.001-.72.097-1.411.29-2.057.566l-28.864 11.546v-19.184h-16v351c0 4.418 3.582 8 8 8h496c4.418 0 8-3.582 8-8v-31c0-.168-.006-.335-.016-.5.01-.165.016-.332.016-.5v-319zm-440 23h96v120h-96zm112-4.687 11.313-11.313h153.373l11.314 11.313v260.687h-16v-149.777c0-29.083-14.334-56.242-38.345-72.652l-29.142-19.917c-2.721-1.86-6.307-1.86-9.027 0l-29.142 19.917c-24.01 16.409-38.344 43.569-38.344 72.652v85.777h16v-85.777c0-23.795 11.729-46.016 31.372-59.443l24.628-16.832 24.628 16.833c19.643 13.426 31.372 35.647 31.372 59.442v149.777h-24v-42.593c0-16.086-7.99-31.016-21.374-39.938l-6.188-4.125c-2.688-1.792-6.188-1.792-8.875 0l-6.188 4.125c-13.385 8.922-21.375 23.852-21.375 39.938v42.593h-24v-48h-16v48h-16zm288 4.687v120h-96v-120zm-96 136h96v120h-96zm-88 120h-32v-42.593c0-10.724 5.327-20.677 14.249-26.625l1.751-1.167 1.751 1.167c8.922 5.948 14.249 15.902 14.249 26.625zm-216-120h96v120h-96zm440 136v16h-480v-16zm0-16h-24v-252.184l24 9.6zm-128-279.889c0-17.426 8.656-33.6 23.155-43.267l16.845-11.229 16.845 11.229c14.499 9.667 23.155 25.841 23.155 43.267v7.889h-80zm-112-119.323 55.38 25.172c.114.052.228.104.342.157.019.009.038.018.057.027 3.348 1.564 6.425 3.542 9.182 5.856h-24.961v16h36.738c2.115 5.045 3.262 10.536 3.262 16.196v15.804h-160v-15.804c0-5.66 1.147-11.151 3.262-16.196h100.738v-16h-88.96c2.768-2.323 5.859-4.308 9.223-5.875.003-.001.006-.003.009-.004.116-.054.232-.107.348-.16zm72 95.212v16h-144v-16zm-264 24.111c0-17.426 8.656-33.6 23.155-43.267l16.845-11.229 16.845 11.229c14.499 9.667 23.155 25.841 23.155 43.267v7.889h-80zm-24 279.889h-24v-242.584l24-9.6zm456 64h-480v-15.984l480 .968z"/><path d="m416 128h16v16h-16z"/><path d="m109.657 330.343c-3.125-3.124-8.189-3.124-11.314 0l-12.283 12.284c-9.067 9.066-14.06 21.12-14.06 33.941v31.432c0 4.418 3.582 8 8 8h48c4.418 0 8-3.582 8-8v-31.432c0-12.822-4.993-24.875-14.059-33.941zm10.343 69.657h-32v-23.432c0-8.548 3.328-16.583 9.373-22.627l6.627-6.627 6.628 6.628c6.044 6.043 9.372 14.079 9.372 22.627z"/><path d="m121.941 206.627-12.284-12.284c-3.125-3.124-8.189-3.124-11.314 0l-12.283 12.284c-9.067 9.066-14.06 21.12-14.06 33.941v31.432c0 4.418 3.582 8 8 8h48c4.418 0 8-3.582 8-8v-31.432c0-12.821-4.993-24.875-14.059-33.941zm-1.941 57.373h-32v-23.432c0-8.548 3.328-16.583 9.373-22.627l6.627-6.627 6.628 6.628c6.044 6.043 9.372 14.079 9.372 22.627z"/><path d="m80 128h16v16h-16z"/><path d="m296 320v-16h-8v-18.593c0-16.086-7.99-31.016-21.374-39.938l-6.188-4.125c-2.688-1.792-6.188-1.792-8.875 0l-6.188 4.125c-13.385 8.922-21.375 23.852-21.375 39.938v18.593h-8v16zm-56-34.593c0-10.724 5.327-20.677 14.249-26.625l1.751-1.167 1.751 1.167c8.922 5.948 14.249 15.902 14.249 26.625v18.593h-32z"/></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
}

.icono-5{
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.5 19.5" style="enable-background:new 0 0 19.5 19.5;" xml:space="preserve"> <g> <path d="M19.5,4.105V3.13h-1.205V2.414h-3.521V1.732H4.724v0.682H1.205V3.13H0v0.975l0.735,1.106v10.184L0.367,15.85v1.918h18.766 V15.85l-0.367-0.455V5.211L19.5,4.105z M3.725,17.086H1.252v-1.141l0.357-0.391v-8.78L1.317,6.48V6.057l0.412-0.032h1.519 L3.66,6.057V6.48L3.367,6.774v8.783l0.358,0.391C3.725,15.948,3.725,17.086,3.725,17.086z M6.916,17.086H4.444v-1.141l0.357-0.391 v-8.78L4.507,6.48V6.057L4.92,6.025h1.519L6.85,6.057V6.48L6.558,6.774v8.783l0.358,0.391V17.086z M5.501,5.7V4.073h8.522V5.7 H5.501z M12.226,17.055h-0.601v-6.573H8.078v6.572H7.477V8.4c0,0,0.129-1.822,2.342-1.822S12.227,8.4,12.227,8.4L12.226,17.055 L12.226,17.055z M15.081,17.086h-2.473v-1.141l0.357-0.391v-8.78l-0.293-0.293V6.057l0.412-0.032h1.519l0.413,0.032V6.48 l-0.293,0.293v8.782l0.357,0.391v1.14H15.081z M18.271,17.086h-2.474v-1.141l0.358-0.391v-8.78l-0.293-0.293V6.057l0.414-0.032 h1.517l0.412,0.032V6.48l-0.291,0.293v8.782l0.356,0.391L18.271,17.086L18.271,17.086z M0.669,3.78V3.423h8.62l0,0h9.564V3.78 C18.853,3.78,0.669,3.78,0.669,3.78z"/> </g> </svg>');
  background-repeat: no-repeat;
  background-size: 100%;
}

